/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com 
                        (matt brown)
---------------------------------------------------------------------------------
*/

div{
    opacity: 1;
    transition: opacity .5s linear;
}

div.hide{
    opacity: 0;
    pointer-events: none;
}

.tag {
  font-size: 12px;
  text-decoration: none;
  background-color: #606060;
  color: #FFFFFF;
  margin-top: 5px;
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  box-shadow: 0px 2px #F1F1F1;
}

.msg {
	padding: 10px;
	background: #222;
	position: relative;
}

.msg h1 {
	color: #fff;
}

.msg a {
	margin-left: 20px;
	background: #408814;
	color: white;
	padding: 4px 8px;
	text-decoration: none;
}

.msg a:hover {
	background: #266400;
}


/* //-- yui-grids style overrides -- */

body {
	font-family: 'Calibri' Arial;
	color: #444;
}

#inner {
	padding: 10px 30px;
	margin: auto auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #ffffff;
	border-top: solid #666;
	border-width: 8px 0 2px 0;
}

.yui-gf {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}


/* //-- header, body, footer -- */

#hd {
	margin: 0.5em 0 1em 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc
}

#hd h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

#bd,
#ft {

	margin-bottom: 0em;
}


/* //-- footer -- */

#ft {
	bottom: 0;
	font-size: 92%;
	border-top: 1px solid #ccc;
	text-align: center;
}

#ft p {
	margin-bottom: 0;
	text-align: center;
}

#container {
    display: flex;
    padding-bottom: 4px;
	flex-wrap: nowrap;
    justify-content: space-between;
}

/* //-- core typography and style -- */

#hd h1 {
	font-size: 40px;
}

h2 {
	font-size: 152%
}

h3,
h4 {
	font-size: 122%;
}

h1,
h2,
h3,
h4 {
	color: #333;
}

p {
	font-size: 14px;
	line-height: 18px;
	padding-right: 3em;
}

a {
	color: #990003
}

a:hover {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

li {
	line-height: 18px;
	border-bottom: 1px solid #ccc;
}

p.enlarge {
	font-size: 144%;
	padding-right: 6.5em;
	line-height: 24px;
}

p.enlarge span {
	color: #000
}

.contact-info {
	margin-top: 7px;
}

.first h2 {
	font-style: italic;
}

.last {
	border-bottom: 0
}


/* //-- section styles -- */

a#pdf {
	display: block;
	float: left;
	background: #666;
	color: white;
	padding: 6px 50px 6px 12px;
	margin-bottom: 6px;
	text-decoration: none;
}

a#pdf:hover {
	background: #222;
}

.job {
	position: relative;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.job h4 {
	position: absolute;
	top: 0.35em;
	right: 0
}

.job p {
	margin: 0.75em 0 3em 0;
}

.last {
	margin-top: 5px;
	line-height: 13px;
	border: none;
}

.skills-list {}

.skills-list ul {
	margin: 0;
}

.skills-list li {
	margin: 3px 0;
	padding: 3px 0;
}

.skills-list li span {
	font-size: 152%;
	display: block;
	margin-bottom: -2px;
	padding: 0
}

.talent2 {
	width: 15%;
	margin-right: 10px;
	float: left
}

.talent3 {
	width: 46%;
	margin-right: 10px;
	float: left
}

.talent3 h2 {
    margin-bottom: 6px;
}

.talent4 {
	width: 10%;
	margin-right: 10px;
	float: left
}


.talent {
	width: 32%;
	float: left
}

.talent h2 {
	margin-bottom: 6px;
}

#srt-ttab {
	margin-bottom: 100px;
	text-align: center;
}

#srt-ttab img.last {
	margin-top: 20px
}


/* --// override to force 1/8th width grids -- */

.yui-gf .yui-u {
	width: 85.2%;
}

.yui-gf .yui-uu {
	padding-left: 20px;
	width: 100%;
}

.yui-gf div.first {
	width: 7.3%;
}

.logo{
  float: left;
  width: 150px;
  padding-right: 40px;
}




.skill-level {
  line-height:0px;
  height: 1em;
  margin: 3px 0px;
  min-width: 400px;
  vertical-align: middle;
}

.skill-level b{
	width: 50px;
	display: inline-block;
}


.skill-level span {
  border-radius: 2px;
  border: 5px solid rgb(70, 69, 69);
  width: 30px;
  height: 8px;
  display: inline-block;
  margin: 0 1px;
  box-sizing: border-box;
}
.show-0 span:nth-child(n+2) {
	border: 5px solid rgb(181, 176, 176);
}
.show-1 span:nth-child(n+3) {
	border: 5px solid rgb(181, 176, 176);
}
.show-2 span:nth-child(n+4) {
	border: 5px solid rgb(181, 176, 176);
}
.show-3 span:nth-child(n+5) {
	border: 5px solid rgb(181, 176, 176);
}
.show-4 span:nth-child(n+6) {
	border: 5px solid rgb(181, 176, 176);
}